$primary: #ffffff;
$headerText: #2e2d2c;
$hoverNav: #f3f5f9;
$hoverUnderline: #3c3c3b;
$acordionBack: #F7F7F7;
$acordionTitle: #2e2d2c;
$acordion-back: #4a79bc;
$font-Bold:'Montserrat-Bold';
$font-Medium:'Montserrat-Medium';
$font-Regular:'Montserrat-Regular';