@media (min-width: 991.98px) {
    #nav-small {
        display: none;
    }

    .small-drop-btn {
        display: none;
    }
}


@media (max-width: 991.98px) {
    body {
        padding: 0 0px;
    }

    h1 {
        font-size: 55px;
    }

    .slider {
        width: 100%;

        .slider__wraper {
            padding-left: 24px;
            margin-left: 0;
            box-sizing: border-box;
            width: 100%;

            .slider__left h3 {

                left: 30px;
            }

            p {
                width: 100%;
            }

            .carousel {
                height: 70%;
            }
        }
    }





    // ===================================
    .offer {
        .offer__wraper {
            width: 100%;
            margin: 0;
            padding: 0px;
            padding-left: 24px;
            box-sizing: border-box;
        }

        .offer__img {

            max-width: 60%;
        }
    }

    // ===========================
    .traveling {
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;

        h3 {
            margin-bottom: 90px;
        }

        .acordion__back {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-right: 0;

            .acordion__back__left {
                width: 100%;
                // height: 100%;
                padding: 40px 35px;
                text-align: center;
                box-sizing: border-box;
            }

            .acordion__back__right {
                width: 100%;
                // margin: auto;
                // height: auto;
                // padding-right: 30px;
                // padding-left: 30px;
                // border-radius: 4px;
                // background: #F7F7F7;
                position: relative;
                margin-top: 65px;
                right: 0;


            }
        }

    }

    // ===========================
    .traveling {
        .traveling__description {
            width: 100%;
            margin: 0;
            margin-top: 90px;
            padding-bottom: 80px;
        }
    }

    // ==========================
    .contact {

        width: 100%;
        height: auto;
        padding: 80px 0;
        box-sizing: border-box;

        .contact__wraper {
            margin-bottom: 0;

            .contact__img__1 {
                display: none;
            }

            .contact__img__2 {
                display: none;
            }

            .contact__form {
                width: 100%;
                position: relative;
            }
        }
    }

    // ==========================
    .footer__top {
        display: none;

    }

    // footer {
    //     width: 100%;
    //     box-sizing: border-box;
    //     padding-left: 30px;
    // }

    footer .footer__bottom .footer__bottom__container {
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;

        .footer__botom__left {
            width: 50%;
        }

        .footer__botom__social {
            width: 50%;
        }
    }


    // ==========================
    .carousel {
        width: 70%;

    }

    #left__nav {
        display: none !important;
    }

    .right__nav {
        display: none !important;

    }

    header .header__wraper nav .active__search {
        position: absolute;
        right: 60px;
        top: 2px;
    }

    header .header__wraper nav .search__box {
        width: 90%;
        padding-left: 15px;
        box-sizing: border-box;
    }

    header .header__wraper {
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;

    }
}

// =======================mobile
@media (max-width: 767.98px) {
    h1 {
        font-size: 45px !important;
    }

    header .header__wraper .logo {
        width: 30%;
    }

    .viewport .viewport__wraper {
        height: 70vh;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
        flex-direction: column;

        .viewport__wraper__left {
            height: 100%;
            width: 100%;

            .action {
                margin-top: 20px;

                .explore {
                    margin-right: 20px;
                }
            }

            .content__p p {
                font-size: 14px;
            }
        }

        .viewport__wraper__rightt {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 10px;


            .review__part {
                width: 70%;
                height: 60%;

                p {

                    width: 100%;
                }

                h3 {
                    margin-top: 50px;
                }

                .quote {
                    p {
                        margin: 40px 0;
                    }
                }
            }

            .user {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 30px;

                .user__name {
                    width: 80px;
                    height: 50px;
                    margin-left: 20px;
                    // -webkit-writing-mode: vertical-rl;
                    // -ms-writing-mode: tb-rl;
                    writing-mode: unset;
                    text-orientation: unset;
                    transform: rotate(0deg);
                    /* -webkit-transform: rotate(180deg); */
                    /* transform: rotate(180deg); */




                }
            }
        }
    }

    .slider {
        padding: 0;
    }

    .slider .slider__wraper {
        padding-left: 20px;
        flex-direction: column;

        .slider__left {
            width: 100%;

            h2 {
                font-size: 65px;

                margin-top: 0;
            }

            h3 {
                font-size: 23px;
                left: 20px;
                top: 18px;
            }

            p {
                font-size: 14px;
                width: 100%;
            }

            a {
                display: none;
            }
        }

        .slider__right {
            width: 100%;
            overflow: hidden;

            .carousel {
                width: 100%;
                margin-top: 10px;
            }
        }

    }

    //---------------
    .offer {

        padding-top: 5px;
        padding-bottom: 0px;

        h3 {
            font-size: 23px;
        }

        .offer__img {
            display: none;
        }

        .offer__wraper {

            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: auto;

            .offer__all {
                width: 100%;
                height: auto;
                background-color: #fff;
                border-radius: 6px;
                margin-bottom: 40px;
                box-sizing: border-box;
                padding: 15px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                display: flex;

                .offer__txt {
                    padding-left: 0;

                    h4 {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                }

                p {
                    font-size: 14px;
                    margin-top: 10px;
                    margin-bottom: 15px
                }
            }

            .offer__1 {
                p {
                    font-size: 14px;
                    margin-top: 10px;
                    margin-bottom: 15px
                }
            }

        }
    }

    // =========================

    .traveling {
        width: 100%;
        padding: 0;

        h3 {
            font-size: 23px;
            margin: 50px 0;
        }

        .acordion__back {
            width: 100%;
            border-radius: 0px;
            height: 1090px;

            .acordion__back__left {
                h4 {
                    font-size: 18px;

                }

                h5 {
                    font-size: 14px;

                }

                p {
                    font-size: 12px;
                    line-height: 1.5;

                }
            }

            .acordion__back__right .acordion__wraper {

                padding: 0 20px;
            }
        }

        .traveling__description {


            margin: 0;
            padding: 0;
            margin-bottom: 50px;


            .traveling__description__holder {
                width: 100%;
                padding: 0 20px;


                h4 {
                    font-size: 23px;
                }


                p {
                    font-size: 14px;
                    line-height: 1.5;

                }
            }

        }
    }

    // ==================
    .contact {
        padding: 50px 20px;

        h5 {
            font-size: 23px;
        }

        .contact__wraper {
            padding: 0;
            width: 100%;

            .contact__form .container {

                padding: 0;
                padding-bottom: 50px;
            }
        }
    }

    //====================================================
    footer .footer__bottom {
        height: auto;

        .footer__bottom__container {
            padding-left: 0px;
            flex-direction: column-reverse;



            .footer__botom__left {
                width: 100%;
            }

            .footer__botom__social {
                width: 100%;

                ul {
                    float: left;
                }
            }

        }
    }
}